[submodule "tests/lib/groovy-compare"]
	path = tests/lib/groovy-compare
	url = https://github.com/sanger-pathogens/groovy-compare.git
[submodule "lib"]
	path = lib
	url = https://github.com/sanger-pathogens/nextflowtool.git
[submodule "assorted-sub-workflows"]
	path = assorted-sub-workflows
	url = https://github.com/sanger-pathogens/assorted-sub-workflows.git

