[submodule "tests/lib/groovy-compare"]
	path = tests/lib/groovy-compare
	url = git@gitlab.internal.sanger.ac.uk:sanger-pathogens/groovy-compare.git
[submodule "assorted-sub-workflows"]
	path = assorted-sub-workflows
	url = git@gitlab.internal.sanger.ac.uk:sanger-pathogens/pipelines/assorted-sub-workflows.git
[submodule "lib"]
	path = lib
	url = git@gitlab.internal.sanger.ac.uk:sanger-pathogens/pipelines/nextflowtool.git
