manifest {
    name            = 'strain_mapper'
    author          = 'PAM Informatics'
    homePage        = 'https://gitlab.internal.sanger.ac.uk/sanger-pathogens/pipelines/strain_mapper'
    description     = 'Simple bacterial mapping and pseudogenome generation'
    mainScript      = 'main.nf'
    nextflowVersion = '>=21.04.0'
    version         = '1.0.0'
}

params {
    // Input options
    input = null
    reference = null

    // Config inheritance options
    generic_config_base = "https://raw.githubusercontent.com/sanger-pathogens/nextflow-commons/"
    generic_config_version = "PAT-910_generic_nextflow_config"
}

try {
    includeConfig "${params.generic_config_base}/${params.generic_config_version}/configs/nextflow.config"
} catch (Exception e) {
    System.err.println("ERROR: Could not load generic config: ${params.generic_config_base}/nextflow.config")
    System.err.println("Encountered the following exception:")
    throw e
}