manifest {
    name            = 'strain_mapper'
    author          = 'PAM Informatics'
    homePage        = 'https://gitlab.internal.sanger.ac.uk/sanger-pathogens/pipelines/strain_mapper'
    description     = 'Simple bacterial mapping and pseudogenome generation'
    mainScript      = 'main.nf'
    nextflowVersion = '>=21.04.0'
    version         = '1.0.0'
}

params {
    generic_config_base = "https://raw.githubusercontent.com/Lfulcrum/nextflow_configs"
    generic_config_version = "master"
}

try {
    includeConfig "${params.generic_config_base}/${params.generic_config_version}/nextflow.config"
} catch (Exception e) {
    System.err.println("ERROR: Could not load generic config: ${params.generic_config_base}/nextflow.config")
    System.exit(1)
}